<launch>
  <arg name="model" default="$(find hexapod_walk)/Hex_URDF2.SLDASM/urdf/Hex_URDF2.SLDASM.urdf"/>
  <!--arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" / -->

  <include file="$(find hexapod_walk)/Hex_URDF2.SLDASM/launch/gazebo.launch">
    <!--arg name="model" value="$(arg model)" /-->
  </include>

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" / -->

  <rosparam command="load"
            file="$(find hexapod_walk)/Hex_URDF2.SLDASM/config/joint_names_Hex_URDF2.SLDASM.yaml"
             />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    output="screen" ns="/hexapod" args="joint_state_controller leg1_hip_joint_pos_con leg1_knee_joint_pos_con Leg1_ankle_joint_pos_con leg2_hip_joint_pos_con leg2_knee_joint_pos_con leg2_ankle_joint_pos_con
          --shutdown-timeout 3"/>
</launch>
